*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #0D0D0D;
    overflow-x: hidden;
}

header{
    margin: auto;
    height: 11vh;
    display: flex;
    align-items: center;  
    justify-content: space-between;  
    padding: 0 15vw;
    position: relative;
    border-bottom: 3px groove #A6142F;
}

header h1{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-style: oblique;
    color: #F2F2F2;
}

.img-perfil{
    width: 25%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

i{
    font-size: 2rem;
    color: #A6142F;
}

/* CHECK-BOX MENU RESPONSIVO */

#checkbox-menu{
    position: absolute;
    opacity: 0;
}
  
.check_responsive{
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.check_responsive span{
    position: absolute;
    display: flex;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #A6142F;
    transition: 0.25s ease-in-out;
}

.check_responsive span:nth-child(1){
    height: 15%;
    top: 15%;
}

.check_responsive span:nth-child(2){
    height: 15%;
    top: 45%;
}

.check_responsive span:nth-child(3){
    height: 15%;
    top: 80%;
}

#checkbox-menu:checked + .check_responsive span:nth-child(1){
    transform: rotate(-45deg);
    top: 50%;
}

#checkbox-menu:checked + .check_responsive span:nth-child(2){
    opacity: 0;
}

#checkbox-menu:checked + .check_responsive span:nth-child(3){
    transform: rotate(45deg);
    top: 50%;
}

#checkbox-menu:checked ~ nav{
    top: 104%;
    visibility: visible;
    animation: dropdown 1150ms ease forwards;
}

#checkbox-menu:checked ~ nav ul li:nth-child(1){
    animation: li 400ms ease forwards;
    animation-delay: -30ms;
}

#checkbox-menu:checked ~ nav ul li:nth-child(2){
    animation: li 400ms ease forwards;
    animation-delay: 330ms;
}

#checkbox-menu:checked ~ nav ul li:nth-child(3){
    animation: li 400ms ease forwards;
    animation-delay: 630ms;
}

#checkbox-menu:checked ~ nav ul li:nth-child(4){
    animation: li 400ms ease forwards;
    animation-delay: 1030ms;
}

/* END-CHECK-BOX MENU RESPONSIVO */

nav{
    position: absolute;
    top: 104%;
    right: 4%;
    visibility: hidden;
    transition: all 300ms ease;
    background-color: rgba(13, 13, 13, 0.767);
    border: 3px groove #A6142F;
}

nav ul{ 
    width: 100%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav ul li{
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #A6142F;
    visibility: hidden;
    padding: 1vw;
}

nav ul li a{
    text-align: right;
    color: #F2F2F2; 
    font-family: 'Roboto Mono', monospace;
    font-size: 1.05rem;
    letter-spacing: 1px;
    padding-bottom: 2px;
    text-decoration: 2px #A6142F underline;
}

@keyframes dropdown{
    0%{
        height: 0;
    }
    25%{
        height: 50px;
    }
    50%{
        height: 100px;
    }
    75%{
        height: 150px;
    }
    100%{
        height: 210px;
    }
}

@keyframes li{
    from{
        height: 0;
    }
    to{
        visibility: visible;
        min-height: 50px;
    }
}

.container-apresentacao{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: space-around;
}

.foto{
    width: 42%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.foto img{
    max-width: 100%;
    max-height: 100%;
}

.texto{
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto h3, .texto h1, .texto p{
    font-family: 'Roboto Slab', serif;
}

.texto h1{
    color: #F2F2F2;
    margin-bottom: .5vw;
}

.texto h3{
    color:#c21a38;
    font-weight: bold;
    letter-spacing: 1px;
}

.texto p{
    width: 57%;
    color: gray;
}

.formação{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formação h1{
    width: 100%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    color: #f2f2f2;
    margin-top: 3vw;
}

.cursos{
    display: flex;
    justify-content: center;
}

.cinza{
    position: absolute;
    left: 0;
    width: 42%;
    height: 100%;
    color: #262626;
    background-color: #141414;
    z-index: -1;
}

.curso{
    width: 22%;
    margin: 3vw .5vw;
    padding: 2vw;
    background-color: #121212;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.curso i, .curso.red i{
    margin: .8vw 0 1vw 0;
}

.curso.red, .curso.red i{
    background-color: #c21a38;
    color: #f2f2f2;
}

.curso h2, .curso p{
    margin: .8vw 0 1vw 0;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.experiencia{
    display: flex;
    align-items: center;
    margin-bottom: 8vw;
}

.experiencia h1{
    width: 30%;
    margin-top: 5vw;
    color: #F2F2F2;
    text-align: right;
    font-size: 2.5rem;
}

.experiencias{
    width: 70%;
    margin-top: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.experiencias > .experienciaP{
    flex: 0 1 33%;
}

.experienciaP{
    width: 22%;
    margin: 3vw .5vw;
    padding: 2vw;
    background-color: #121212;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 4px 3px #c21a38; 
    box-shadow: 0px 0px 4px 3px #c21a38;
    z-index: 1;
}

.experiencia i{
    height: 25%;
}

.experiencia h2, .experiencia p{
    height: 75%;
    display: flex;
    align-items: center;
    margin: .2vw 0 .5vw 0;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

footer {
    background-color: #151515;
    padding: 1vw;
}

footer i{
    font-size: 2.5rem;
}

  
.footer-container {
    width: 80%;  
    margin: auto;   
}

footer .row {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.footer-container ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 20px;
}

footer h4{
    font-size: .9rem;
    text-align: right;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-style: oblique;
    letter-spacing: 1px;
    color: white;
    position: relative;
}

.footer-col h4::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #8a48fa;
    height: 2px;
    box-sizing: border-box;
    width: 50%;
}

.footer-col .ul-text li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    width: 25%;
    font-size: 1.1rem;
    text-transform: capitalize;
    color: #bbbbbbe5;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.footer-col .ul-text li a:hover {
    color: #8948fa;
    padding-left: 6px;
}

.footer-col .ul-icon a {
    display: inline-block;
    text-decoration: none;
    color: white;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.redes{
    margin-left: 4.8vw;
}

.redes i{
    font-size: 1.5rem;
    color: #555;
    text-align: right;
}

footer h4 i{
    font-size: 1.8rem;
}

.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    color: #F2F2F2;
}

.portfolio .title{
    font-size: 2.5rem;
}

.materias{
    width: 97%;
    margin: 2vw auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.materias > .materia{
    flex:  0 0 26%;
}

.materia{
    min-height: 100%;
    margin: 1vw auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.materia h2, .materia a{
    width: 100%;
    height: 10%;
    padding-top: .1vw;
}

.materia a, .materia a i{
    color: #c21a38;
    font-size: .85rem;
}

.materia .img{
    height: 90%;
    display: flex;
    padding: 2.5vw 1.1vw;
    background-color: #151515;
}

.materia img{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

 
