*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

a, h2{
    transition: all 300ms ease;
}

body{
    font-size: 100%;
    background-color: #0D0D0D;
    overflow-x: hidden;
    position: relative;
}

header{
    position: relative;
    margin: auto;
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;  
    justify-content: space-between;  
    padding: 0 15vw;
    border-bottom: 3px groove #A6142F;
    transition: all 500ms ease;
}

.header-fixo{
    position: fixed !important;
    width: 100%;
    background-color: #0D0D0D;
    z-index: 999;
    animation: height 500ms ease forwards;
}

@keyframes height{
    from{
        height: 0%;
    }
    to{
        height: 11vh;
    }
}

header h1{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-style: oblique;
    color: #F2F2F2;
}

.img-perfil{
    width: 25%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

i{
    font-size: 2rem;
    color: #A6142F;
}

/* CHECK-BOX MENU RESPONSIVO */

#checkbox-menu{
    position: absolute;
    opacity: 0;
}
  
.check_responsive{
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.check_responsive span{
    position: absolute;
    display: flex;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #A6142F;
    transition: 0.25s ease-in-out;
}

.check_responsive span:nth-child(1){
    height: 15%;
    top: 15%;
}

.check_responsive span:nth-child(2){
    height: 15%;
    top: 45%;
}

.check_responsive span:nth-child(3){
    height: 15%;
    top: 80%;
}

#checkbox-menu:checked + .check_responsive span:nth-child(1){
    transform: rotate(-45deg);
    top: 50%;
}

#checkbox-menu:checked + .check_responsive span:nth-child(2){
    opacity: 0;
}

#checkbox-menu:checked + .check_responsive span:nth-child(3){
    transform: rotate(45deg);
    top: 50%;
}

#checkbox-menu:checked ~ nav{
    top: 104%;
    visibility: visible;
    animation: dropdown 1150ms ease forwards;
}

#checkbox-menu:checked ~ nav ul li:nth-child(1){
    animation: li 600ms ease forwards;
    animation-delay: -150ms;
}

#checkbox-menu:checked ~ nav ul li:nth-child(2){
    animation: li 600ms ease forwards;
    animation-delay: 150ms;
}

#checkbox-menu:checked ~ nav ul li:nth-child(3){
    animation: li 600ms ease forwards;
    animation-delay: 330ms;
}

#checkbox-menu:checked ~ nav ul li:nth-child(4){
    animation: li 600ms ease forwards;
    animation-delay: 630ms;
}

#checkbox-menu:checked ~ nav ul li:nth-child(5){
    animation: li 600ms ease forwards;
    animation-delay: 870ms;
}

#checkbox-menu:checked ~ nav ul li:nth-child(6){
    animation: li 600ms ease forwards;
    animation-delay: 1170ms;
}

/* END-CHECK-BOX MENU RESPONSIVO */

nav{
    position: absolute;
    top: 104%;
    right: 9%;
    visibility: hidden;
    transition: all 300ms ease;
    background-color: rgba(13, 13, 13);
    border: 4px groove rgb(141, 17, 40);
}

nav ul{ 
    width: 100%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav ul li{
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px groove rgb(141, 17, 40);
    visibility: hidden;
    padding: .1vw;
}

nav ul li a{
    padding: 0 .5vw;
    text-align: right;
    color: #F2F2F2; 
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 1.05rem;
    letter-spacing: 1px;
    padding-bottom: 2px;
}

nav ul li a:hover{
    letter-spacing: 2px;
}

@keyframes dropdown{
    0%{
        height: 0;
    }
    17%{
        height: 50px;
    }
    34%{
        height: 100px;
    }
    51%{
        height: 150px;
    }
    68%{
        height: 200px;
    }
    82%{
        height: 260px;
    }
    100%{
        height: 300px;
    }
}

@keyframes li{
    from{
        height: 0;
    }
    to{
        visibility: visible;
        min-height: 50px;
    }
}

.container-apresentacao{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: space-around;
}

.foto{
    width: 42%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.foto img{
    max-width: 100%;
    max-height: 100%;
}

.texto{
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto h3, .texto h1, .texto p{
    font-family: 'Roboto Slab', serif;
}

.texto h1{
    color: #F2F2F2;
    margin-bottom: .5vw;
}

.texto h3{
    color:#c21a38;
    font-weight: bold;
    letter-spacing: 1px;
}

.texto p{
    width: 57%;
    color: gray;
}

.formação{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formação h1{
    width: 100%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    color: #f2f2f2;
    margin-top: 3vw;
}

.cursos{
    display: flex;
    justify-content: center;
}

.cinza{
    position: absolute;
    left: 0;
    width: 42%;
    height: 100%;
    color: #262626;
    background-color: #141414;
    z-index: -1;
}

.curso{
    width: 22%;
    margin: 3vw .5vw;
    padding: 2vw;
    background-color: #121212;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.curso i, .curso.red i{
    margin: .8vw 0 1vw 0;
}

.curso.red, .curso.red i{
    background-color: #c21a38;
    color: #f2f2f2;
}

.curso h2, .curso p{
    margin: .8vw 0 1vw 0;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.experiencia{
    display: flex;
    align-items: center;
    margin-bottom: 8vw;
    position: relative;
}

.experiencia h1{
    width: 30%;
    margin-top: 5vw;
    color: #F2F2F2;
    text-align: right;
    font-size: 2.5rem;
}

.experiencias{
    width: 70%;
    margin-top: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.experiencias > .experienciaP{
    flex: 0 1 33%;
}

.experienciaP{
    width: 22%;
    margin: 3vw .5vw;
    padding: 2vw;
    background-color: #121212;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 4px 3px #c21a38; 
    box-shadow: 0px 0px 4px 3px #c21a38;
    z-index: 1;
}

.experiencia i{
    height: 25%;
}

.experiencia h2, .experiencia p{
    height: 75%;
    display: flex;
    align-items: center;
    margin: .2vw 0 .5vw 0;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.portfolio{
    height: 100vh;
    margin: 0 0 4vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F2F2F2;
}

.title{
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5rem;
    color: #F2F2F2;
    text-align: center;
}

.materias{
    width: 97%;
    height: 100%;
    margin-bottom: 2vw;
    margin-top: 1vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.materias > .materia{
    flex:  0 1 26%;
}

.materia{
    margin: .5vw auto;
    display: flex;
    flex-direction: column;
}

.materia h2, .materia a{ 
    height: 10%;
    padding-top: .05vw;
}

.materia h2:hover, a:hover{
    letter-spacing: 1px;
    color: #c21a38;
}

.materia a, .materia a i{
    color: #c21a38;
    font-size: .85rem;
    font-weight: bold;
}

.materia .img{
    height: 90%;
    display: flex;
    padding: 2.5vw 1.1vw;
    background-color: #151515;
}

.materia img{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.projetos{
    width: 100%;
    margin-top: 4vw;
    margin-bottom: 4vw;
    display: flex;
    flex-direction: column;
    color: #F2F2F2;
    text-align: center;
}

.escolhidosAluno{
    width: 100%;
    margin-top: 4vw;
    margin-bottom: 4vw;
    display: flex;
    flex-direction: column;
    color: #F2F2F2;
    text-align: center;
}

.projeto{
    width: 93%;
    margin: 1vw auto;
    padding: 1vw;
    display: flex;
    align-items: center;
    color: #F2F2F2;
    background-color: #111;
    border: 2px groove #c21a38;
}

.projeto h1{
    width: 20%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    
}

.projeto p{
    width: 55%;
    padding: 0 1vw;
    text-align: justify;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.imagem{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem img{
    max-width: 100%;
    width: 100%;
    height: 90%;
    max-height: 90%;
}

.imagem a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #c21a39d7;
    margin: .5vw;
    transition: all 300ms ease;
}

.cronograma{ 
    width: 87%;
    max-height: 97vh;
    margin: auto;
    margin-bottom: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2vw;
    background-color: #121212;
    border-radius: 150px 15px 100px 15px;
    -moz-border-radius: 150px 15px 100px 15px;
    -webkit-border-radius: 100px 15px 100px 15px;
    -webkit-box-shadow: 0px 0px 7px 4px #c21a38; 
    box-shadow: 0px 0px 7px 4px #c21a38;
}

.cronograma img{
    max-width: 100%;
    margin: 1vw;
    object-fit: fill;
}

#imgCronograma2{
    animation: animate 1s ease forwards;
    position: fixed;
    right: 0;
    left: 0; 
    top: 50%; 
    transform: translateY(-50%);
    z-index: 999; 
    max-width: 95%;
    min-width: 95%;
    height: 90vh; 
    margin: auto; 
    opacity: 1;
}

.X{
    width: 50px;
    height: 15px;
    display: none;
    flex-direction: column;
    position: fixed;
    right: 5%;
    top: 5%;
    z-index: 999;
    cursor: pointer;
    animation: animate 2s ease forwards;
}

.X span{
    width: 100%;
    height: 100%;
    position: relative;
}

.X span:nth-child(1){
    background: #A6142F;
    transform: rotate(-45deg);
    top: 50%;
}

.X span:nth-child(2){
    opacity: 0;
    display: none;
}

.X span:nth-child(3){
    background: #A6142F;
    transform: rotate(45deg);
}

@keyframes animate{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.cronograma a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #c21a39d7;
}

.portfolio2020{
    width: 95%;
    height: 95vh;
    margin: auto;
    padding-top: 1vw;
    border-radius: 10px 10px 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    overflow: hidden;
    will-change: transform;
    background-color: #151515;
    -webkit-box-shadow: 0px 0px 7px 4px #c21a38; 
    box-shadow: 0px 0px 7px 4px #c21a38;
}

.portfolio2020 iframe{
    width: 100%;
    height: 100%; 
    margin-top: 1vw;
    border-radius: 0 0 25px 25px;
    border: 0;
    padding: 0; 
    background-color: #262626 !important;
}

.atividadesOrientadas{
    height: 100vh;
    margin: 4vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-atividades{
    height: 75vh;
    width: 100%;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.atividadeOrientada{
    position: relative;
    width: 50%;
    height: 95%;
    padding: 1vw;
    margin: 1vw;
    -webkit-box-shadow: 0px 0px 4px 3px #c21a38; 
    box-shadow: 0px 0px 4px 3px #c21a38;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgAtividade{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1vw;
}

.imgAtividade img{
    width: 80%;
    text-align: center;
    display: flex;
    object-fit: fill;
}

#slider img{
    display: none;
}

.imgAtividade .active{
    display: flex !important;
}

.controls-Master{
    position: absolute;
    width: 84%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-25%);
}

.prevMaster, .nextMaster{
    width: 30px;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c21a38;
    border: 2px groove black;
    color: #121212;
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    transition: all 300ms ease;
}

.prevMaster:hover, .nextMaster:hover{
    background-color: #f2f2f2;
    color: #c21a38;
}

footer {
    background-color: #151515;
    padding: 1vw;
    margin-top: 3vw;
}

footer i{
    font-size: 2.5rem;
}

  
.footer-container {
    width: 80%;  
    margin: auto;   
}

footer .row {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.footer-container ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 20px;
}

footer h4{
    font-size: .9rem;
    text-align: right;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-style: oblique;
    letter-spacing: 1px;
    color: white;
    position: relative;
}

.footer-col h4::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #8a48fa;
    height: 2px;
    box-sizing: border-box;
    width: 50%;
}

.footer-col .ul-text li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    width: 25%;
    font-size: 1.1rem;
    text-transform: capitalize;
    color: #bbbbbbe5;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.footer-col .ul-text li a:hover {
    color: #8948fa;
    padding-left: 6px;
}

.footer-col .ul-icon a {
    display: inline-block;
    text-decoration: none;
    color: white;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.redes{
    margin-left: 2.8vw;
}

.redes i{
    margin: 0 .5vw;
    font-size: 1.5rem;
    color: #555;
    text-align: right;
    transition: all 300ms ease;
}

.redes i:hover{
    color: #c21a38;
}

footer h4 i{
    font-size: 1.8rem;
}

@media only screen and (max-width: 1200px){
    .atividadesOrientadas{
        height: auto;
    }
    
    .container-atividades{
        height: auto;
        flex-direction: column !important;
    }
    
    .atividadeOrientada{
        width: 80%;
        height: auto;
    }

}


@media only screen and (max-width: 992px){

    nav ul li a{
        padding: 0 .05vw;
    }

    .container-apresentacao{
        height: auto;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15vw;
    }

    .foto{
        width: auto;
    }

    .texto, .texto p{
        width: 95%;
    }

    .portfolio{
        height: auto;
        margin-bottom: 5vw;
    }

    .cronograma{
        width: 97%;
        border-radius: 100px 0px 50px 0px;
    }
}

@media only screen and (max-width: 768px){
    header{
        padding: 0 10vw;
    }

    .projeto{
        flex-direction: column;
    }

    .projeto h1, .projeto p{
        width: auto;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    .imagem{
        width: 95%;
        margin-top: 1.5vw;
    }

    .footer-container{
        width: 90%;
    }

    
}

@media only screen and (max-width: 600px){

    header{
        padding: 0 7vw;
    }

    .atividadeOrientada{
        width: 90%;
        min-height: 30vh;
        height: auto;
    }
    .controls-Master{
        width: 99%;
    }
    
    .prevMaster, .nextMaster{
        height: 10vh;
    }

}

@media only screen and (max-width: 456px){

    header{
        padding: 0 5vw;
    }

    header nav{
        right: 50%;
        transform: translateX(50%);
        width: 80%;
    }

    .footer-container{
        width: 95%;
    }

    
    .cursos{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .curso{
        width: 75%;
        height: 33%;
    }

    .experiencia, .experiencia h1{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .experiencia h1{
        margin-top: 15vw;
    }
    
    
    .experiencias{
        width: 100%;
        margin-top: 15vw;
    }

    .experiencias > .experienciaP {
        flex: 0 0 70%;
    }

    .materias > .materia {
        flex: 0 0 75%;
    }

    .cronograma{
        margin-top: 15vw;
        height: 70vh;
        border-radius: 100px 0px 50px 0px;
        -webkit-border-radius: 50px 0px 50px 0px;
        -moz-border-radius: 100px 0px 50px 0px;
    }

    .portfolio2020{
        margin-top: 15vw;
        padding-top: 3vw;
    }

    .atividadeOrientada{
        width: 90%;
        min-height: 60vh;
        height: auto;
        margin-bottom: 10vw;
    }
    .imgAtividade img {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        height: 100%;
        max-height: 100%;
        min-height: 100%;
    }
    .controls-Master{
        width: 100%;
        top: 54%;
    }
        
    .prevMaster, .nextMaster{
        width: 20px;
        height: 5vh;
    }

    #imgCronograma2{
        height: auto;
    }
    
}
 
